body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
	text-align: center;
}

div {
	margin: 0;
	padding: 0;
}

div.pixels {
	display: inline-block;
	border: 1px solid grey;
	padding: 4px;
	-webkit-border-radius: 3px;
	margin: 0 auto;
}

div.row {
	height: 11px;
	background-color: #eee;
}

div.pixel {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: black;
	opacity: 0;
	margin-right: 1px;
	margin-bottom: 1px;

	cursor: arrow;
}

div.pixel:nth-child(odd) {
	opacity: 1;
}

div.row:nth-child(odd) div.pixel:nth-child(odd) {
	opacity: 0;
}

div.row:nth-child(odd) div.pixel:nth-child(even) {
	opacity: 1;
}

div.row:last-child {
	height: 10px;
}

div.row:last-child > div.pixel {
	margin-bottom: 0;
}

div.pixel:last-child {
	margin-right: 0;
}
